*{
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.main{
  margin: auto;
}
/* Header section styling */

.header{
  display: inline-flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  z-index: 20;
  background-color: black;
}

.header img{
  height: 50px;
  width: auto;
  padding: 0px 10px;
}

.nav{
  display:flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0px 20px;
}

.nav a{
  padding: 0px 10px;
  text-decoration: underline;
}

/* Lead image styling */

.leadimage{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#text1{
  background-color: black;
  width: 1200px;
  text-align: center;
}

.teaotm{
  width:1000px;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.totmimages{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.totmimages img{
  height: 200px;
  width: 300px;
}

.box{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  display: flex;
  height: 500px;
  width: 1200px;
  background-position: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  justify-content: center;
  margin: auto;
}

.title{
  background-color: transparent;
  padding: 15px;

}

.title h1{
  background-color: transparent;

}

.locations{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
}


.downtown{
  width: 300px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  margin-right: 40px;

}
.east{
  width: 300px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
}
.oak{
  margin-left: 40px;
  width: 300px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
}

.contact{
  display: block;
  text-align: center;
}
